h1, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #1f5f1f	
}
p, li.b {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    color: 	#2c942c
}
li.a
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: 	#0aa30a
}
img {
  border-radius: 8px;
  box-shadow: 20px 10px 20px 10px rgba(38, 185, 18, 0.712);
}
body {
  background-color: #D8BFD8;
}
.left, .right {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
}
.left {
    left: 15px;
}
.right {
    right: 0;
}